.box {
    margin-bottom: 10px; /* Adjust as needed */
    margin-top: 20px; 
  }
  
  .form-label {
    margin-bottom: 5px; /* Adjust as needed */
  }
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adjust as needed */
  }

  .gt h2 {
    text-align: center;
  }

  .red-text {
    color: red;
  }

  .green-text {
    color: green;
  }